

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="links">
        <title>SportsWiki</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"/>

        <link rel="icon" type="image/x-icon" th:href="@{~/images/logo.png}" />
        <link rel="stylesheet" th:href="@{~/css/reset.css}"/>
        <link rel="stylesheet" th:href="@{~/css/root.css}"/>
        <link rel="stylesheet" th:href="@{~/css/header.css}"/>
</html>
