.header{
    padding: var(--pages-padding);
    display: flex;
    justify-content: space-between;
    align-items:center;
}


.header__picture{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: var(--font-bold);
    user-select: none;
}


.header__logo{
    aspect-ratio: 1;
    width: 40px;
    height: auto;
}

.header__nav{
    display: grid;
    place-items: center;
}


.header__list{
    display: flex;
    gap: 24px;
    font-size: .9rem;
    font-weight: var(--font-medium);
    align-items:center;
}