.home{
    padding: 0 0 6vh;
}


.home__title{
    padding:var(--pages-padding);
    font-size: 3rem;
    font-weight: var(--font-light);    
}

.home__title--bold{
    font-weight: var(--font-bold);    
}