html{
    --main-color: #111;
    --main-color-light: #222;

    --font-color: #eee;
    --font-color-light: #999;

    --pages-padding: 5vh 4vw;

    --font-light: 400;
    --font-medium: 500;
    --font-bold: 700;


    font-weight: var(--font-light);
    background-color: var(--main-color);
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;


    color-scheme: dark;
}



.show-in{
    animation: show-in .7s ease;
}

::selection{
    background-color: var(--font-color);
    color: var(--main-color );
}


@keyframes show-in{
    from{
        opacity: 0;
        transform: translateY(8px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.up-in-hover{
    transition: transform .3s ease;
}

.up-in-hover:hover{
    transform: translateY(-3px);
}