<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="layout/links :: links"></head>
    <head>
        <script th:src='@{~/js/ui/formImage.js}' type="module" defer></script>
    </head>

    <body>
        <header th:insert="layout/header::header"></header>
        <main class="deportes deportes--formulario show-in">
            <form th:replace="layout/formulario :: formulario 
                  (action=@{/deportes/agregar}, titulo='Agregar ', deporte=${deporte})"></form>
            
        </main>
    </body>
</html>
