<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:insert="layout/links::links"></head>
    <head>
        <link rel="stylesheet" th:href="@{css/contacto.css}"/>
        <link rel="stylesheet" th:href="@{css/plantillas/formulario.css}"/>
        <script th:src="@{js/map.js}" defer></script>
    </head>


    <body>
        <header th:insert="layout/header :: header"></header>

        <main class="contacto show-in">
            <div class="contacto__formulario">
                <form th:replace="plantillas/formulario :: contacto"></form>
            </div>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.499232938676!2d-75.56320782610034!3d6.197672126866207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46829a6cfb410b%3A0x7e88e9ccde4253cd!2sNike%20Store%20El%20Tesoro!5e0!3m2!1ses!2sco!4v1683678450247!5m2!1ses!2sco" 
                class="contacto__mapa"></iframe>
        </main>


    </body>
</html>

