<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="layout/links :: links"></head>
    <head>
        <link rel="stylesheet" th:href="@{~/css/deportes/deporte.css}"/>
    </head>

    <body>
        <header th:insert="layout/header::header"></header>

        <main class='deporte show-in'>
            <a th:href="@{~/deportes}" class='deporte__back'>
                <img th:src="@{~/images/arrow.png}" alt="alt"/>
            </a>
            <div class='deporte__caja'>
                
                <img th:src="'/' + ${deportes.imagen}" alt="alt"/>
                
                <div class='deporte__informacion'>
                    <h1 th:text='${deportes.nombre}'></h1>
                    <p th:text='${deportes.descripcion}'></p>
                </div>
            </div>
        </main>

    </body>
</html>
