.carrusel{
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;    
    
    
    --image-width: calc(100vw / 2.8);
}





.carrusel__track{
    display: flex;
    gap: 32px;
    width: 100%;
    transition: transform 1s ease;
    animation: slide 30s infinite linear;
}

@keyframes slide{
    from{
        transform: translateX(0));
    }
    to{
        transform: translateX( calc( var(--image-width) * 13 * -1));
    }
}

.carrusel picture{
    min-width: var(--image-width);
    width: var(--image-width);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
}


.carrusel picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
